<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bater Ponto</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/bater_ponto.css">
</head>
<body>
    <div class="pagina_centralizada">
        <div class="cartao">
            <center>
                <h1 class="cartao_titulo"> Registrar Ponto</h1>
                <p class="cartao_descricao">Registre sua entrada/saída rapidamente</p>
            </center>
            
            <br>
            <br>
            <form class="formulario">
                <div class="campo_grupo">
                    <label class="campo_label">Digite seu ID ou CPF</label>
                    <input type="text" class="campo_input">
                </div>
                
                <button type="button" class="botao_principal">Bater Ponto</button>
                <a href="login.html" class="botao_secundario">Voltar</a>

            </form>
        </div>
    </div>
</body>
</html>
