<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="pagina_centralizada">
        <div>
            <div class="cartao">
                <center>
                    <h1 class="cartao_titulo">Login</h1>
                    <p class="cartao_descricao">Entre com suas credenciais para acessar o sistema</p>
                </center>

                <form class="formulario">
                    <div class="campo_grupo">
                        <label class="campo_label">Email</label>
                        <input type="email" class="campo_input">
                    </div>
                    
                    <div class="campo_grupo">
                        <label class="campo_label">Senha</label>
                        <input type="password" class="campo_input">
                    </div>
                    <br>

                    <center>
                        <a href="home.html" class="botao_principal">Entrar</a>
                    </center>
                </form>
            </div>

            <div style="margin-top: 16px;">
                <a href="bater_ponto.html" class="botao_secundario" style="width: 100%;">Bater Ponto</a>
            </div>
        </div>
    </div>
</body>
</html>
